---
title: Events & Utställningar Kalender
layout: default
description: Kalender för händelser på Kulturföreningen Momangen
image: /uploads/stickerwall.jpg
---


{% for event in site.events %}
    {% capture now -%}{{ site.time | date: '%s' }}{%- endcapture %}
    {% capture endtime -%} {{ event.event_data.end_datetime | date: '%s' }} {%- endcapture %}
    {% capture postdate -%} {{ event.date | date: '%s' }} {%- endcapture %}
    {% if now <= endtime %} {% unless now <= postdate %}
<div class="column" style="border: none;">
  <h3>Kommande event</h3>
  <div class="flexitem" style="margin-left: 0;">

    {% for event in site.events %}
    {% capture now -%}{{ site.time | date: '%s' }}{%- endcapture %}
    {% capture endtime -%} {{ event.event_data.end_datetime | date: '%s' }} {%- endcapture %}
    {% capture postdate -%} {{ event.date | date: '%s' }} {%- endcapture %}
    {% if now <= endtime %} {% unless now <= postdate %}

    <div class="column2">
      <a href="cloudcannon:collections/{{ event.path }}" class="editor-link cms-editor-link">Redigera Event</a>
      <h2><a href="{{ event.url }}" class="nodecoration" style="border:none;">{{ event.title }}</a></h2>
      <a href="{{ site.baseurl }}{{ event.url }}" title="Event: {{ event.title }}" alt="Event: {{ event.title }}"
        style="border:none">
        <img src="{{ event.image }}" style="margin-bottom: 30px;" title="Event: {{ event.title }}"
          alt="Event: {{ event.title }}" />
      </a>
      <p><strong>{% assign d = event.event_data.start_datetime | date: "%-d"  %}{% case d %}{% when '1' or '21' or '31' or '2' or '22' %}{{ d }}:a
          {% else %}{{ d }}:e{% endcase %} {% assign m = event.event_data.start_datetime | date: "%-m" %} {% case m %}
          {% when '1' %}Januari {% when '2' %}Februari {% when '3' %}Mars {% when '4' %}April {% when '5' %}Maj
          {% when '6' %}Juni {% when '7' %}Juli {% when '8' %}Augusti {% when '9' %}September {% when '10' %}Oktober
          {% when '11' %}November {% when '12' %}December {% endcase %}
          {{ event.event_data.start_datetime | date: "%Y" }}
          kl. {{ event.event_data.start_datetime | date: "%R"}}</strong><br />
        Typ av konst: {{ event.category }}</p>
      <h3 style="margin-bottom: 30px;">{{ event.description | truncatewords: 10 }}</h3>
      <a href="{{ event.url }}" class="cta">Läs mer</a><br /><br />
    </div>{% endunless %}{% endif %} {% endfor %} 
  </div>
</div>
{% break %}
{% endunless %}{% endif %} {% endfor %} 
<div class="column" style="border: none;">
  <h3>Förflutna events</h3>
  <div class="flexitem">
    {% capture now -%} {{ site.time | date: '%s' }} {%- endcapture %} {% assign events = site.events | reverse %}
    {% for event in events %} {% capture endtime -%} {{ event.event_data.end_datetime | date: '%s' }} {%- endcapture %}
    {% if now >= endtime %}
    <div class="column2">
      <a href="cloudcannon:collections/{{ event.path }}" class="editor-link cms-editor-link">Redigera Event</a>
      <a href="{{ event.url }}" title="Event: {{ event.title }}" alt="Event: {{ event.title }}">
        <div class="flyer" style="background-image:url('{{ event.image }}')"></div>
      </a>
      <p>{{ event.event_data.start_datetime | date: '%Y-%m-%d' }}<br />
        <a href="{{ event.url }}"><strong>{{ event.title }}</strong></a>
        <br /><br />{{ event.description | truncatewords: 10 }}
      </p>
      <br />
    </div> {% endif %} {% endfor %}
  </div>
</div>