---
title: Galleri och Kulturförening
image: /siteicon.png
layout: default
open: 'false'
---

<!-- begin /index.html -->
{% for post in site.posts limit: 4 %}
<div class="column">
  <h2>{{ post.title }}</h2>
  {{ post.content }}
</div>
{% endfor %}
<div class="column">
  <h2>{{ page.title }}</h2>

  <div class="editable">
    <h3>Om Kulturf&ouml;reningen Momangen</h3>
    <p>Det f&ouml;rsta fr&ouml;et till Kulturf&ouml;reningen Momangen s&aring;ddes genom en enkel fr&aring;ga p&aring; ett forum "Finns det n&aring;gra som vill dela en lokal att spilla f&auml;rg i?". Detta ledde till att sex personer tog en diskussion &ouml;ver n&aring;gra &ouml;l p&aring; Carmen och tre m&aring;nader senare var f&ouml;reningen startad. Jakten p&aring; passande lokal startades och i januari 2011 hade medlemmarna &auml;ntligen nycklarna till lokalen p&aring; Kocksgatan. Efter idogt renoveringsarbete invigdes lokalen i november 2011 och har sedan dess anv&auml;nts som atelj&eacute; och verkstad av f&ouml;reningens medlemmar. F&ouml;reningen har just nu 13 medlemmar som spiller f&auml;rg, bygger skulpturer, skriver, musicerar, fotar och pysslar p&aring; i v&aring;rt alldeles egna vuxendagis.</p>
    <h3>Om Galleri Momangen</h3>
    <p>Galleri Momangen drivs av Kulturf&ouml;reningen Momangens medlemmar och &auml;r s&aring;ledes konstn&auml;rsdrivet. Galleriet &auml;r bel&auml;get i f&ouml;reningens atelj&eacute; och verkstad och pr&auml;glas av en g&ouml;r-det-sj&auml;lv-mentalitet. H&auml;r kommer medlemmarna turas om att producera m&aring;natliga utst&auml;llningar. Vad som visas kommer variera men du som letar efter en vit kub utst&auml;llning kommer bli besviken, hos oss st&aring;r skapandet och konstn&auml;ren i centrum. Ist&auml;llet kommer du d&auml;rf&ouml;r finna urban H&ouml;torgskonst 2.0 i mix med odefinierbara upplevelser i en k&auml;llarlokal d&auml;r hj&auml;rta ligger i grunden f&ouml;r allt som g&ouml;rs.</p>
  </div>
</div>
<div class="column">
{% include hittahit.html %}
</div>

<div class="column">
  {% include contact.html %}

</div>
<!-- END   /index.html -->