<!-- BEGIN hero.html -->
<div id="banner" style={% if page.url == "/" %}"height:100%"{% else %}"height:30%"{% endif %}>
  <canvas style="display:none" id="canvas" width="285" height="285"></canvas>
  <canvas style="display:none" id="canvas3" width="570" height="570"></canvas>
  <canvas id="canvas2" width="570" height="570">*** THIS BROWSER DOES NOT SUPPORT THE CANVAS ELEMENT ***</canvas>
  <div>
    <a href="{{ site.baseurl }}/" class="nodecoration"><img src="{{ site.baseurl }}/assets/img/logo%20galleri%20momangen.svg" alt="{{ site.title }}" /></a>
    {% if page.url == "/" %}
    <div id="poster" class="column">


      <!-- Begin Up next -->
      {% for event in site.events limit: 1 %}
      {% capture now %}{{ site.time | date: '%Y%m%d' }}{% endcapture %}
      {% capture posttime %}{{ event.event_data.end_datetime | date: '%Y%m%d' }}{% endcapture %}
    {% if now <= posttime %}

      <div>
        <p>På gång:</p>
        <a href="cloudcannon:collections/{{ event.path }}" class="editor-link cms-editor-link">Redigera Event</a>
        <h2><a href="{{ event.url }}" class="nodecoration">{{ event.title }}</a></h2>
        <p><!-- Whitespace added for readability -->
          {% assign d = event.event_data.start_datetime | date: "%-d"  %}{% case d %}{% when '1' or '21' or '31' or '2' or '22' %}{{ d }}:a {% else %}{{ d }}:e{% endcase %}
          
          {% assign m = event.event_data.start_datetime | date: "%-m" %}

          {% case m %}
            {% when '1' %}Januar
            {% when '2' %}Februar
            {% when '3' %}Mars
            {% when '4' %}April
            {% when '5' %}Maj
            {% when '6' %}Juni
            {% when '7' %}Juli
            {% when '8' %}Augusti
            {% when '9' %}September
            {% when '10' %}October
            {% when '11' %}November
            {% when '12' %}December
          {% endcase %}
          {{ event.event_data.start_datetime | date: "%Y" }}

         
           kl. {{ event.event_data.start_datetime | date: "%R"}}<br />
          Typ av konst: {{ event.category }}</p>
        <h3>{{ event.event_data.description | truncatewords: 10 }} <span><a href="{{ event.url }}">Läs mer</a></span></h3>
       
        
      </div>
      {% endif %}
      {% endfor %}

<!-- end Up next-->

    </div>
    {% else %}{% endif %}
  </div>
</div>
<!-- END hero.html -->