<!-- BEGIN hero.html -->
<div id="banner">
  <canvas style="display:none" id="canvas" width="285" height="285"></canvas>
  <canvas style="display:none" id="canvas3" width="570" height="570"></canvas>
  <canvas id="canvas2" width="570" height="570">*** THIS BROWSER DOES NOT SUPPORT THE CANVAS ELEMENT ***</canvas>
  <div class="hero">
    <h1>{{ site.title }}</h1>
    <div id="poster" class="column">

      {% for event in site.events limit: 1 %}
      <div>
        <img src="{{ event.image }}" />
      </div>
      <div>
        <h2>{{ event.title }}</h2>
        <h3>{{ event.start_date }} till {{ event.end_date }}</h3>
        <p>{{ event.description }}</p>
        <p>{{ event.category }}</p>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
<!-- END hero.html -->