<!-- begin hittahit.html -->
<div>
  <div class="editable">
    <h3>Hitta hit</h3>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><a target="_blank" rel="noopener noreferrer nofollow" href="https://osm.org/go/0bCzz0H2?m="><img width="100%" src="/images/map.jpg" /></a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h4><a target="_blank" rel="noopener noreferrer nofollow" href="https://osm.org/go/0bCzz0H2?m=">Kocksgatan 23<br />116 24 Stockholm</a></h4>
  </div>

  <p>Öppettider varierar. Just nu är det:</p>
  <p>
    <strong>
      {% if site.data.open.open == true %}Öppet för almänheten!
      {% else %}Produktion på gång, kom tillbaka snart. Bli stödmedlem och skriv en dikt till oss undertiden!
      {% endif %}
    </strong>
  </p>

</div>
<!-- begin hittahit.html -->