<!-- begin hittahit.html -->
<div>
  <div class="editable">
    <h3>Hitta hit</h3>
    <p><a target="_blank" rel="noopener noreferrer nofollow" alt="karta för att hitta till momangen" title="karta för att hitta till momangen" href="https://osm.org/go/0bCzz0H2?m="><img width="100%" alt="karta för att hitta hit" title="karta för att hitta till momangen" src="/images/map.jpg" /></a></p>
    <h4><a target="_blank" rel="noopener noreferrer nofollow" href="https://osm.org/go/0bCzz0H2?m=">Kocksgatan 23<br />116 24 Stockholm</a></h4>
    <p>info@momangen.se</p>
    <p><a href="https://www.facebook.com/momangen">Facebook</a></p>
    <p><a href="http://www.instagram.com/gallerimomangen">Instagram</a></p>
  </div>

  <p>Öppettider varierar. Just nu är det:</p>
  <p>
    <strong>
      <a href="cloudcannon:collections/_data/open.yml" rel="nofollow" class="editor-link cms-editor-link">Stäng / öppna lokalen</a>
      {% if site.data.open.open == true %}Öppet för almänheten!
      {% else %}Produktion på gång, kom tillbaka snart. Bli stödmedlem och skriv en dikt till oss undertiden!
      {% endif %}
    </strong>
  </p>

</div>
<!-- begin hittahit.html -->