<!-- begin hittahit.html -->
<div class="editable">
  <h2>Hitta hit</h2>
  <a href="https://osm.org/go/0bCzz0H2?m=" target="_blank" rel="noopener noreferrer nofollow">
    <img src="/images/map.jpg" width="100%" /><br /><br />
    <h4>Kocksgatan 23 <br />116 24 Stockholm</h4>
  </a>
  {% if page.url == '/'%}
  <p>Öppettider varierar. Just nu är det:</p>
  <p>
    <strong>
      {% if page.open == '' or page.open == 'true' %}Öppet för almänheten!
      {% else %}Produktion på gång, kom tillbaka snart. Bli stödmedlem och skriv en dikt till oss undertiden!
      {% endif %}
    </strong>
  </p>
  {% endif %}
</div>
<!-- begin hittahit.html -->