<!-- BEGIN kontakt.html -->
<div id="kontaktformular">
  <form action="{{ site.baseurl }}/contact-success/" method="post" class="cta" name="hemsida_form" id="hemgjordform">
    <div class="row gtr-uniform">
      <div class="col-6 col-12-xsmall">
        <input type="hidden" name="_to" value="{{ site.kundtjanstmail }}">
        <input type="text" name="_gotcha" style="display: none;">
        <input type="text" name="firstname" id="firstname" value="" placeholder="Förnamn" /><br />
        <input type="text" name="lastname" id="lastname" value="" placeholder="Efternamn" />
      </div>
      <div class="col-6 col-12-xsmall">
        <input type="email" name="email" id="email" value="" placeholder="Email" required /> <br />
      </div>
      <!-- Break -->
      <div class="col-12">
        <textarea name="message" id="message" placeholder="Skriv ditt meddelande" rows="6"></textarea>
      </div>
      <!-- Break -->
      <div class="col-12">
          <input type="checkbox" name="gdprconsent" id="consent" value="conscent" required>
          <label for="consent">Jag godkänner att Momangens Förening lagrar och behandlar mina personuppgifter.</label><br /> 
          
          Mer information om våra sekretesskydd och vårt engegemang för att skydda och respektera din integritet finns i vår <a href="/integritetspolicy/">integritetspolicy.</a><br /><br />


          <ul class="actions">
          
          <li><input type="submit" value="Skicka Formulär" class="primary" /></li>

        </ul>
      </div>
    </div>
  </form>
</div>
<!-- END kontakt.html -->