<div id="rightnow"{% if site.data.open.open == true %} class="blink"{% else %} style="background: rgba(255, 255, 255, 0.5) url('/assets/img/bg.png');" {% endif %}>
  {% if site.data.open.open == true %}
  <br /><br />
  <p>Just Nu:
  <br /><strong>Öppet
  <br />för allmänheten!</strong>
  <br />Kom hit!</p>
  {% else %}
  <br />
  <p>Just Nu:
  <br /><strong>Produktion
  <br />på gång </strong>
  <br />Kom tillbaka snart!
  <br /><a href="{{ site.baseurl }}/privacy-policy/">Bli stödmedlem</a></p>
  {% endif %}
</div>

<script type="text/javascript">
  $(window).scroll(function(){
      $("#rightnow").css("opacity", 1 - $(window).scrollTop() / 250);
  });
</script>
