

@-webkit-keyframes fontmovement {
  0%   {left:0px; bottom:0px;}
  50%  {left:50px; bottom:0px;}
  100% {left:0px; bottom:0px;}
}
@-moz-keyframes fontmovement {
  0%   {left:0px; bottom:0px;}
  50%  {left:50px; bottom:0px;}
  100% {left:0px; bottom:0px;}
}

@keyframes fontmovement {
  0%   {left:0px; bottom:0px;}
  50%  {left:50px; bottom:0px;}
  100% {left:0px; bottom:0px;}
}

@-webkit-keyframes shadow {
  to {
    text-shadow: .2em .2em rgba(31, 31, 31, 0.5), -.2m -.2em rgba(224, 224, 224, 0.5);
  }

}
@-moz-keyframes shadow {
  to {
    text-shadow: .2em .2em rgba(31, 31, 31, 0.5), -.2m -.2em rgba(224, 224, 224, 0.5);
  }
}

@keyframes shadow {
  to {text-shadow: .2em .2em rgba(31, 31, 31, 0.5), -.2m -.2em rgba(224, 224, 224, 0.5);
  }
}