@font-face {
  font-family: avant;
  src: url('../fonts/free_avantgarde.woff');
}
@font-face {
  font-family: avantB;
  src: url('../fonts/free_avantgardeBOLD.woff');
}
@font-face {
  font-family: oldlondon;
  src: url('../fonts/OldLondon.ttf');
}