/////////
// POSTER
/////////
#poster {

  width: 90vw;
  margin-right: auto !important; 
  display: flex;
  flex-wrap: wrap;
  div {
    flex: 1 1 300px;
  }  
  a {
    padding: 0;
  }
}

#poster img {
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  -moz-border-radius-topright: 9px;
  -moz-border-radius-bottomright: 9px;
   -webkit-border-top-right-radius: 9px;
   -webkit-border-bottom-right-radius: 9px;
  float: left;
  padding-right: 5px;
  width: 100%;
  min-width: 200px;

}

canvas {
  overflow-x: hidden;
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index: -3;
}
