---
layout: default
---
<div class="column">
  <h1>{{ page.title }}</h1>
  Eventet börjar: <strong>{{ page.start_datetime | date: "%Y-%m-%d"}} klockan {{ page.start_datetime | date: "%R"}}</strong><br />
  Och slutar: <strong>{{ page.end_datetime | date: "%Y-%m-%d"}} klockan {{ page.end_datetime | date: "%R"}}</strong>
  <img src="{{ site.baseurl}}{{ page.image}}" width="50%" style="float:right" />
  <p>{{ page.description }}</p>
  {{ content }}

</div>
{% if page.slutet_salskap == true %}
<div class="column">
    <h4>OBS! Du måste vara stödmedlem!</h4>
    {% include contact.html %}
</div>
{% endif %}