---
---
<!DOCTYPE html>
<html>
<head>
  {% include metahead.html %}
</head>
<body>

  <canvas style="display:none" id="canvas" width="285" height="285"></canvas>
  <canvas style="display:none" id="canvas3" width="570" height="570"></canvas>
  <canvas id="canvas2" width="570" height="570">*** THIS BROWSER DOES NOT SUPPORT THE CANVAS ELEMENT ***</canvas>

  {% include rightnow.html %}
  {% include editor-open-closebutton.html %}
  {% include hero.html %}
  <div id="content">
    {{ content }}
  </div>

  <div id="footer">
    {% include footer.html %}
  </div>


</body>
</html>
