---
layout: default
---
<!-- begin events.html -->
<div class="column">
  <div style="padding:0 3px 3px 3px;border-radius: 3px;" class="highlight">
    <h1>{{ page.title }}</h1>
    <a href="cloudcannon:collections/{{ event.path }}" class="editor-link cms-editor-link">Redigera Event</a>
    Eventet börjar: <strong>{{ page.event_data.start_datetime | date: "%Y-%m-%d"}} klockan
      {{ page.event_data.start_datetime | date: "%R"}}</strong><br />
    Och slutar: <strong>{{ page.event_data.end_datetime | date: "%Y-%m-%d"}} klockan
      {{ page.event_data.end_datetime | date: "%R"}}</strong><br />
  </div>
  <br />
  <img src="{{ site.baseurl}}{{ page.image }}" width="100%" />
  <p>{{ page.description }}</p>
  {{ content }}
</div>
  <div class="column" style="z-index: 10000000;">

      {% assign author_id = page.artist.deltagande_artists %}
      {% assign author = site.artists | where: "url", author_id | first %}
      {% for artist in page.deltagande_artists %}
<div class="square-image" style="background-image: url('{{ author.image }}')"></div>

    <p class="blurb">{{ author.blurb_text }}</p>

    <div>


    {% endfor %}
  </div>
</div>
{% if page.slutet_salskap == true %}
<div class="column">
  {% if page.slutet_salskap == true %}
  <h2>OBS! Du måste vara stödmedlem!</h2>
  {% endif %}
  {% include contact.html %}
</div>
<div class="column">
  {% include hittahit.html %}
</div>
{% endif %}
<!-- END events.html -->
