---
layout: default
---
<div class="column">
  <div style="padding:0 3px 3px 3px;border-radius: 3px;" class="highlight">
    <h1>{{ page.title }}</h1>
    <a href="cloudcannon:collections/{{ event.path }}" class="editor-link cms-editor-link">Redigera Event</a>
    Eventet börjar: <strong>{{ page.event_data.start_datetime | date: "%Y-%m-%d"}} klockan
      {{ page.event_data.start_datetime | date: "%R"}}</strong><br />
    Och slutar: <strong>{{ page.event_data.end_datetime | date: "%Y-%m-%d"}} klockan
      {{ page.event_data.end_datetime | date: "%R"}}</strong><br />
  </div>
  <br />
  <img src="{{ site.baseurl}}{{ page.image }}" width="100%" />
  <p>{{ page.description }}</p>
  {{ content }}
  <div class="column">
    {% for artist in page.artists %}

    <div>
      <div class="artist" style="background-image:url({{ site.baseurl }}{{ artist.image }})">
        <h3>{{ artist.name }}</h3>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% if page.slutet_salskap == true %}
<div class="column">
    {% if page.slutet_salskap == true %}
  <h2>OBS! Du måste vara stödmedlem!</h2>
  {% endif %}
  {% include contact.html %}
</div>
<div class="column">
  {% include hittahit.html %}
</div>
{% endif %}